b
  font-weight 900

body
  background-image url("../images/bg.png")
  background-size cover
  background-attachment fixed

  > *:not(header)
    margin-top 40px

#logo
  margin 30px
  width 20vw

#name-link
  margin 0 auto
  background-color white
  width 70vw
  padding 4%

  font-family Candara
  font-size 1.5em
  font-weight bold

  -webkit-box-shadow: 14px 14px 22px -4px rgba(0,0,0,0.75);
  -moz-box-shadow: 14px 14px 22px -4px rgba(0,0,0,0.75);
  box-shadow: 14px 14px 22px -4px rgba(0,0,0,0.75);

#input--id-note
  width 80%
  font-size 1em
  padding 10px
  background-image url("../images/input-name_link.png")
  background-size cover
  border none
  color #00395a

